.inline-block {
    display: inline-block;
    vertical-align: top;
    float: left;
    font-family: 'Quicksand', sans-serif;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav {
    width: 73%;
    padding: 1%;
}
nav a {
    float: right;
    text-align: center;
    justify-content: space-evenly;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.navigation {
    height: 100PX;
    background-color: #011638;
    border-radius: 5px;
}
.active {
    text-decoration: underline;
}
ul {
    width: 50%;
    margin-left: auto;
}
h1 {
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
} 
h2 {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}  
p {
    font-family: 'Quicksand', sans-serif;
}
.fullCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
    border-radius: 10px;
    margin: auto;
    width: 90%;
    padding-top: 20px;
}
.fullCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.container {
    padding: 30px 16px;
    margin: 40px;
  }
footer {
    background-color: #011638;
    display: inline-block;
    width: 100%;
}
.footerContent {  
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.copyRight {
    color: white;
    margin: 10px;
}
.body {
    margin: 25px;
}
.hero {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 10px;
}
